/* ==========================
   Responsive Design
========================== */

/* Tablets */
@media (max-width: 992px){

header{
    padding:15px 5%;
}

nav{
    gap:15px;
}

.hero{
    flex-direction:column;
    text-align:center;
}

.hero-text h1{
    font-size:38px;
}

.hero-text p{
    font-size:16px;
}

.hero-image img{
    max-width:500px;
}

.features{
    grid-template-columns:repeat(2,1fr);
}

}

/* Mobile */
@media (max-width:768px){

header{
    flex-direction:column;
    gap:15px;
}

nav{
    flex-wrap:wrap;
    justify-content:center;
}

.hero{
    padding:40px 5%;
}

.hero-text h1{
    font-size:30px;
}

.hero-text p{
    font-size:15px;
}

.features{
    grid-template-columns:1fr;
}

.card{
    padding:25px;
}

.btn{
    width:100%;
    text-align:center;
}

}

/* Small Mobile */
@media (max-width:480px){

.logo h2{
    font-size:24px;
}

nav a{
    font-size:14px;
}

.hero-text h1{
    font-size:24px;
}

.hero-text p{
    font-size:14px;
}

.card h3{
    font-size:20px;
}

.card p{
    font-size:14px;
}

footer{
    font-size:14px;
}

}